<div id="page-c-live" class="page-c-live">
  <div class="page-c-live__header">
    <h1 class="page-c-live__title">Page C</h1>
    <.link href={~p"/"}>🏠 Home</.link>
  </div>
  <div class="page-a-live__content">
    <.link href={~p"/page_a"}>🔗 Go to Page A</.link>
    <.link href={~p"/page_b"}>🔗 Go to Page B</.link>
  </div>
</div>
