<div id="page-a-live" class="page-a-live">
  <div class="page-a-live__header">
    <h1 class="page-a-live__title">Welcome to Page A</h1>
    <.link href={~p"/"}>🏠 Home</.link>
  </div>
  <div class="links">
    <.link href={~p"/page_b"}>🔗 Go to Page B</.link>
    <.link href={~p"/page_c"}>🔗 Go to Page C</.link>
  </div>
</div>
