<div id="page-b-live" class="page-b-live">
  <div class="page-b-live__header">
    <h1 class="page-b-live__title">Page B</h1>
    <.link href={~p"/"}>🏠 Home</.link>
  </div>
  <div class="page-b-live__content">
    <.link href={~p"/page_a"}>🔗 Go to Page A</.link>
    <.link href={~p"/page_c"}>🔗 Go to Page C</.link>
  </div>
</div>
